.inicio{
display: flex;
background-color: map-get($colores, -gris);
height: 100vh;

    &-content{
    margin: auto 0 auto 60px ; 
    color: map-get($colores, -blanco);
    text-transform:uppercase;

        .text-1{
        -webkit-text-stroke: 1px map-get($colores, color-principal);
        color: transparent;
        letter-spacing: 25px;
        font-size: 40px;
        font-weight: 700;
        margin: 50px 0;
        font-family: $font-general;
        }

        .text-2{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 10px;
        font-family: $font-general;
        }

        .text-3 p{
        font-size: 20px;
        margin: 30px 0;
        margin-right: 50px;
        text-transform:none;
        font-family: $font-secundario;
        }

        a{
        font-family: $font-general;
        display: inline-block;
        font-size:16px;
        color: map-get($colores, -blanco)!important;/* Utilice important ya que al hacer el efecto hover me mostraba un color azul y me pisaba el blanco */
        padding: 20px 30px;
        background-color:map-get($colores, color-principal);
        border: 8px solid map-get($colores, -negro);
        cursor: pointer;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        
        background-image: linear-gradient(map-get($colores, color-secundario),rgba(17, 17, 17, 0.418));
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: left;
        transition: background-size 0.8s ease;

            &:hover{
            background-size: 100% 100%;
            }
        }


    
    }


    .img-inicio{
    position: absolute;
    right: 10%;
    top: 25%;
    height: 600px;
    margin-top: 50px;
    border: 30px double map-get($colores, color-general);
    animation: a-galeria 5s ease-in-out infinite;
    }


    @keyframes a-galeria{
    0%{transform:translateY(-20px);
    }
    30%{transform:translateY(20px);
    }
    50%{transform:translateY(-20px) rotateY(180deg) skewX(5deg);
    }
    75%{transform:translateY(20px);
    }
    100%{transform:translateY(-20px);
    }
    
    }
    
}






/* Responsive */

@media (max-width:1750px){
.inicio{
    &-content{
    margin: auto 0 auto 30px;

        .text-1{
        letter-spacing: 10px;
        }

        .text-2{
        letter-spacing: 3px;
        }
    }

    .img-inicio{
    right: 5%;
    } 

}
}



@media (max-width:1450px){
.inicio{
    &-content{

        .text-1{
        letter-spacing: 5px;
        }

        .text-2{
        letter-spacing: 0px;
        }

        .text-3 p{
        font-size: 18px;
        width: 80%;
        }
    }

    .img-inicio{
    right: 2%;
    height: 500px;
    } 

}
}




@media (max-width:1100px){
.inicio{
    &-content{

        .text-1{
        animation: relleno 5s ease-in-out infinite;
        }

        @keyframes relleno{
        0%{transform:translateY(-10px);
            
        }
        30%{transform:translateY(10px);
        }
        50%{transform:translateY(-10px) rotateY(180deg);
            opacity: 0;
        }
        75%{transform:translateY(10px);
            opacity: 1;
        }
        100%{transform:translateY(-10px);
            
        }
        
        }

        .text-3 p{
        width: 100%;
        }
    }

    .img-inicio{
    display: none;
    } 

}
}


@media (max-width:668px){      
.inicio{
    &-content{

        .text-1{
        font-size: 30px;
        letter-spacing: 5px;
        }


        .text-2{
        font-size: 20px;
        letter-spacing: 0px;
        }

     
    
        .text-3 p{
        font-size: 16px;
        }

        a{
        font-size:12px;
        padding: 20px 20px;   
        }
    }

}
}


@media (max-width:425px){
.inicio{
    &-content{
    margin: auto 0 auto 10px;
    }



}
 
}



@media (max-width:375px){
.inicio{
    &-content{
        
        .text-1{
        font-size: 25px;
        letter-spacing: 5px;
        }

        .text-2{
        font-size: 18px;
        }
    }
}   
}