.servicios{
background: map-get($colores, -gris);

    &-container{
    background-color: map-get($colores, color-principal);
    padding: 50px 0px;
    margin: 50px 100px;
    border: 10px solid map-get($colores, color-secundario);
    border-radius: 20px;
    text-align: center;

        h2{
        font-family: $font-secundario;
        -webkit-text-stroke: 0.5px map-get($colores, -blanco);
        font-size: 35px;
        text-align: center;
        color: map-get($colores, color-secundario);
        }

        .servicios-items{

            li{
            display: inline-block;
            list-style: none;
            margin: 50px 100px;
            }

            .icon{

                &:hover i{
                background-color: map-get($colores, color-secundario);
                color: map-get($colores, -gris);
                border: 2px dashed map-get($colores, -gris);
                transform: rotateY(180deg);
                }
                
                i{
                font-size: 70px;
                width:200px;
                height: 200px;
                padding: 60px 0;
                background-color: map-get($colores, -gris);
                color: map-get($colores, -blanco);
                border: 4px dashed map-get($colores, -blanco);
                border-radius: 50%;
                transition: color, background-color, border 0.3s ease;
                transition: transform 0.3s ease;
                }

            }

            h4{
            font-family: $font-general;
            font-size: 20px;
            font-weight: 600;
            color: map-get($colores, -blanco);
            text-transform: uppercase;
            margin: 20px 0;
            }

            p{
            font-family: $font-secundario;
            font-size: 16px;
            font-weight: 400;
            color: map-get($colores, -negro);
            text-transform: uppercase;
            }
        }
    }


}


.sobre-servicios{
background-color: map-get($colores, color-principal);


    .sobre-servicios-content{
    background-color: map-get($colores, -negro);
    border-radius: 20px;
    padding: 100px 50px;
    margin: 50px 100px;
    text-align: center;


        .servicios-explicacion{
        background-color: map-get($colores, -gris);
        border-radius: 10px;
        padding: 50px;
        margin: 50px 20px;
        transition: background-color 0.3s ease;
        transition: transform 0.3s ease;
            

            &:hover{
            background-color: map-get($colores, color-general);
            transform: scale(1.07);

                .icon i{
                padding: 40px 0;
                background-color: map-get($colores, color-general);
                color: map-get($colores, -blanco);
                border-color: map-get($colores, color-secundario);
                }

                h4{
                color: #111;
                font-weight: 700;
                }

            }

            

            .icon i{
            font-size: 50px;
            width:150px;
            height: 150px;
            padding: 40px 0;
            background-color: map-get($colores, color-secundario);
            color: map-get($colores, -gris);
            border: 10px double map-get($colores, -blanco);
            border-radius: 50%;
            transition: all 0.3s ease;
            }


            h4{
            font-family: $font-general;
            font-size: 20px;
            font-weight: 600;
            color: map-get($colores, color-secundario);
            text-transform: uppercase;
            margin: 20px 0;  
            }

            p{
            font-family: $font-secundario;
            font-size: 16px;
            font-weight: 400;
            color: map-get($colores, -blanco);
            text-transform: uppercase;
            }
                

        }

        .accordion-button{
        font-family: $font-secundario;
        text-transform: uppercase;
        font-size: 20px;

            &:not(.collapsed){
            color: map-get($colores, color-secundario)!important;/* Utilice el important ya que si no lo pongo el color blanco me pisa el #7d7573*/
            font-weight: 700;  
            }

            &:focus{
            box-shadow: 0px 0px 6px 4px #b18c73;
            }
        }


        .accordion-body{

            p{
            font-family: $font-general;
            font-size: 16px;
            color: map-get($colores, -blanco);
            text-align: start;
            font-weight: 500;
            }
        
        }

        .subtitle-acordion{

            h2{
            font-family: $font-secundario;
            -webkit-text-stroke: 0.5px map-get($colores, -blanco);
            font-size: 35px;
            text-align: center;
            background-color: map-get($colores, color-secundario);
            margin: 50px 0;
            margin-top: 200px;
            padding: 20px;
            border-radius: 10px;
            color: map-get($colores, color-secundario);
            }
       
        }
    }
}




/* Responsive */
/* Retoques Desktop */
@media (max-width:1750px){
.servicios-container{
margin: 50px 50px;
}

}




/* Laptop L*/
@media (max-width:1450px){
.servicios-container{
margin: 50px 300px;

}
}



/* Laptop */
@media (max-width:1100px){
.servicios-container{
margin: 50px 80px;
}

}


/* Tablet */
@media (max-width:668px){
.servicios-container{
margin: 50px 20px;

    .servicios-items {

        li{
        margin: 50px 30px;
        }

        .icon{

            i{
            font-size: 50px;
            width:150px;
            height: 150px;
            padding: 45px 0;
            }
        }

        h4{
        font-size: 20px;
        font-weight: 600;
        }

        p{
        font-size: 15px;
        font-weight: 300;
        }
    
    }
}

.sobre-servicios{

    .sobre-servicios-content{
    padding: 50px 0px;
    margin: 20px 10px;

        .servicios-explicacion{
        padding: 50px 10px;
        margin: 50px 20px;

            p{
            font-size: 15px;
            } 
    }
    }

}

}




/* Mobile L */
@media (max-width:500px){
.sobre-servicios{

    .sobre-servicios-content{

        .accordion-button{
        font-size: 18px !important;/* Utilice el important ya que si no lo pongo el size de 20px me pisa los 18px*/
        } 


        .subtitle-acordion{

            h2{
            font-size: 25px;
            padding: 20px 0;
            }

        }


    }
}
}




/* Mobile S */
@media (max-width:340px){      
.servicios-content{

    .servicios-container{

        h2{
            font-size: 30px;
        }
    }
}

} 