.servicios{
background: #222;

    &-container{
    background-color: #b18c73;
    padding: 50px 0px;
    margin: 50px 100px;
    border: 10px solid #7d7573;
    border-radius: 20px;
    text-align: center;

        h2{
        font-family: 'Permanent Marker', cursive;
        -webkit-text-stroke: 0.5px #fff;
        font-size: 35px;
        text-align: center;
        color: #7d7573;
        }

        .servicios-items{

            li{
            display: inline-block;
            list-style: none;
            margin: 50px 100px;
            }

            .icon{

                &:hover i{
                background-color: #7d7573;
                color: #222;
                border: 2px dashed #222;
                transform: rotateY(180deg);
                }
                
                i{
                font-size: 70px;
                width:200px;
                height: 200px;
                padding: 60px 0;
                background-color: #222;
                color: #fff;
                border: 4px dashed #fff;
                border-radius: 50%;
                transition: color, background-color, border 0.3s ease;
                transition: transform 0.3s ease;
                }

            }

            h4{
            font-family: 'Shadows Into Light', cursive;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            margin: 20px 0;
            }

            p{
            font-family: 'Permanent Marker', cursive;
            font-size: 16px;
            font-weight: 400;
            color: #111;
            text-transform: uppercase;
            }
        }
    }


}


.sobre-servicios{
background-color: #b18c73;


    .sobre-servicios-content{
    background-color: #111;
    border-radius: 20px;
    padding: 100px 50px;
    margin: 50px 100px;
    text-align: center;


        .servicios-explicacion{
        background-color: #222;
        border-radius: 10px;
        padding: 50px;
        margin: 50px 20px;
        transition: background-color 0.3s ease;
        transition: transform 0.3s ease;
            

            &:hover{
            background-color: #444;
            transform: scale(1.07);

                .icon i{
                padding: 40px 0;
                background-color: #444;
                color: #fff;
                border-color: #7d7573;
                }

                h4{
                color: #111;
                font-weight: 700;
                }

            }

            

            .icon i{
            font-size: 50px;
            width:150px;
            height: 150px;
            padding: 40px 0;
            background-color: #7d7573;
            color: #222;
            border: 10px double #fff;
            border-radius: 50%;
            transition: all 0.3s ease;
            }


            h4{
            font-family: 'Shadows Into Light', cursive;
            font-size: 20px;
            font-weight: 600;
            color: #7d7573;
            text-transform: uppercase;
            margin: 20px 0;  
            }

            p{
            font-family: 'Permanent Marker', cursive;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            }
                

        }

        .accordion-button{
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
        font-size: 20px;

            &:not(.collapsed){
            color: #7d7573!important;/* Utilice el important ya que si no lo pongo el color blanco me pisa el #7d7573*/
            font-weight: 700;  
            }

            &:focus{
            box-shadow: 0px 0px 6px 4px #b18c73;
            }
        }


        .accordion-body{

            p{
            font-family: 'Shadows Into Light', cursive;
            font-size: 16px;
            color: #fff;
            text-align: start;
            font-weight: 500;
            }
        
        }

        .subtitle-acordion{

            h2{
            font-family: 'Permanent Marker', cursive;
            -webkit-text-stroke: 0.5px #fff;
            font-size: 35px;
            text-align: center;
            background-color: #7d7573;
            margin: 50px 0;
            margin-top: 200px;
            padding: 20px;
            border-radius: 10px;
            color: #7d7573;
            }
       
        }
    }
}




/* Responsive */
/* Retoques Desktop */
@media (max-width:1750px){
.servicios-container{
margin: 50px 50px;
}

}




/* Laptop L*/
@media (max-width:1450px){
.servicios-container{
margin: 50px 300px;

}
}



/* Laptop */
@media (max-width:1100px){
.servicios-container{
margin: 50px 80px;
}

}


/* Tablet */
@media (max-width:668px){
.servicios-container{
margin: 50px 20px;

    .servicios-items {

        li{
        margin: 50px 30px;
        }

        .icon{

            i{
            font-size: 50px;
            width:150px;
            height: 150px;
            padding: 45px 0;
            }
        }

        h4{
        font-size: 20px;
        font-weight: 600;
        }

        p{
        font-size: 15px;
        font-weight: 300;
        }
    
    }
}

.sobre-servicios{

    .sobre-servicios-content{
    padding: 50px 0px;
    margin: 20px 10px;

        .servicios-explicacion{
        padding: 50px 10px;
        margin: 50px 20px;

            p{
            font-size: 15px;
            } 
    }
    }

}

}




/* Mobile L */
@media (max-width:500px){
.accordion-button{
font-size: 18px !important;/* Utilice el important ya que si no lo pongo el size de 20px me pisa los 18px*/
} 


.subtitle-acordion h2{
font-size: 25px;
padding: 20px 0;
}
}